{% extends 'products/base.html' %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/about.css"> {% endblock %}

{% block content %}

  <div class="container-fluid" id="c1" >

<div class="container" >
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h1 style=" text-align: left; margin-top: 5rem; font-size: 2.50rem;">Get Lost in the World of Manga with Our Online Store - Manga Store</h1>
    <p class="text" style="font-size: 22px; font-weight: 100; width: 550px;">Welcome to our online store, where we provide an extensive collection of manga from all genres to satisfy every fan's cravings. Our passion for manga led us to create this platform, where we can share our love for this unique art form with others.</p>

  </div>
  <br><br><br>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/bg2.png" alt="Example Image" style="margin-top: 90px; width: 410px; border-radius: 30px; margin-left:100px;"></div>
   </div>

</div>

</div>


<br><br><br><br><br>
<h1 style="text-align: center; font-size: 48px;">Why did we create Manga Store?</h1>
<p style="text-align: center; font-size: 20px; color: #757575;">We are excited to offer our platform to manga lovers in Kazakhstan</p>


<div class="container" style="width: 1000px;">
  <br><br> <br><br>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/anya.png" width="400px"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Wide range of manga titles</h2><br><br><p style="color:#757575; font-size: 20px;">Our online store provides a wide range of manga
       titles from all genres, including shonen, shojo, seinen, and josei, catering to the diverse tastes of manga readers in Kazakhstan.</p></div>
  </div>
  <br><br>
  <div class="row">
    <br><br>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Every Manga Is<br>Authentic And Of The<br> Highest Quality</h2><br><br><p style="color:#757575; font-size: 20px;">We understand the passion and enthusiasm that manga lovers in Kazakhstan have for this unique art form, and we are committed to providing genuine and high-quality manga that meets their expectations.</p></div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/luffy.png" width="400px"></div>
  </div>
  <br><br>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/girl.png" width="400px"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Wide range of manga titles</h2><br><br><p style="color:#757575; font-size: 20px;">Our online store provides a wide range of manga
       titles from all genres, including shonen, shojo, seinen, and josei, catering to the diverse tastes of manga readers in Kazakhstan.</p></div>
  </div>
</div>

</div>


<br><br><br><br><br><br>{% endblock %}


