{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/news.css">
{% endblock %}

{% block content %}
    <br><br><br>
<div class="container-fluid" id="news">
  <h1 style="margin-left: 150px; font-weight: 600;">Latest news</h1>
  <br><br>
  <form class="search-form" action="">
    <input type="text" placeholder="Search for news...">
    <button type="submit">Search</button>
  </form>

</div>

<br><br>
<h1 style="text-align: center; font-size: 48px;">Popular Anime</h1>
<p style="text-align: center; font-size: 20px; color: #757575;">Discover the exciting world of anime with our curated selection of the most popular and beloved titles of all time!</p>

<div class="container" style="width: 1200px;">
  <br><br> <br><br>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/vs2.jpg" width="400px"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>The vinland saga season 2</h2><br><br><p style="color:#757575; font-size: 20px;">The second season of the Vinland Saga anime television
    series is produced by MAPPA. Despite the studio change, the series retained its main production staff from the previous season.
    The series is directed by Shūhei Yabuta, with Hiroshi Seko handling series composition, Takahiko Abiru designing the characters[1]
     and Yutaka Yamada composing the music.[2] Taking place a year after the events of the first season, the season primarily focuses on a slave
     from England named Einar as he meets the protagonist, Thorfinn, while working in a farm.</p><br>
    <button id="more"><a href="#" style="text-decoration: none; color: white;">More</a></button>
    </div>

  </div>
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Demon Slayer new season</h2><br><br><p style="color:#757575; font-size: 20px;">The story tells about Tanjiro Kamado,
      who decides to become a Demon Slayer because one of them killed his entire family and turned his sister, Nezuko, into a demon. Throughout the
       time, while Tanjiro is trying to restore his sister to a human form and avenge his family, he meets many other Demon Slayers, including
       antagonists, who become the main characters of the plot.</p><br>
    <button id="more"><a href="#" style="text-decoration: none; color: white;">More</a></button>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/krd.png" width="400px"></div>
  </div>
  <br><br><br>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/static/img/aot0.png" width="400px"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Attack on titan</h2><br><br><p style="color:#757575; font-size: 20px;">The season introduces Gabi Braun and Falco Grice, young Eldian Warrior candidates seeking to inherit Reiner's Armored Titan four years after the failed mission to reclaim the Founding Titan. While Marley plans to invade Paradis to strengthen their weakening military and retrieve the Founding Titan, the Survey Corps lay an attack in their homeland.</p><br>
    <button id="more"><a href="#" style="text-decoration: none; color: white;">More</a></button>
    </div>

  </div>
  <br><br>

</div>

</div>
<br><br><br><br><br>
 {% endblock %}





  