* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust transparency by changing the last value (0.9) */
    z-index: 1000;
  }

  .logo{
    margin-left: 50px;


  }

  .nav-links,
  .right-links {
    display: flex;
    gap: 3rem;
    margin-right: 60px;
    font-size: 22px;
  }

  .nav-links a,
  .right-links a {
    text-decoration: none;
    color:  #762424;



  }



.container{
  width: 600px;
}


footer {
  background-color: #762424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons a {
  margin: 0 20px;
  color: #fff;
  font-size: 35px;
}

.icons a:hover {
  opacity: 0.8;
}
